.search{
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    padding: 10px;
    transition-duration: 500ms;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    border: 1px solid white;
    overflow: hidden;
    background-image: url(../img/1.png);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 45% 50%;
}
.search:hover{
    border: 1px solid red;
}
.search:focus{
    width: 200px;
    cursor: text;
    padding-left: 40px;
    color: white;
    outline: none;
    background-color: transparent;
    border: 1px solid black;
    background: url(../img/2.png) no-repeat;
    background-size: 22px;
    background-position: 10% 50%;
}