*{
    margin: 0;
    padding: 0;
    list-style: none; 
}
.menu ul li{
    display: inline-block;
    position: relative;
}
.menu ul li a{
    display: block;
}
.menu ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    background-color: orangered;
    text-align: center;
}
.menu ul li a{
    color: white;
    line-height: 40px;
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    padding: 0 10px;
}
.menu ul li a:hover{
    color: yellow;
}
.menu ul ul{
    position: absolute;
    display: none;
    padding:0px;
    margin:0px;
    list-style:none;
    border-radius:3px;
    width:10px;
    background-color:white;
    box-shadow:0 0 1px gray;
}
.menu ul ul a{
    display: block;
    line-height:30px;
    color:orangered;
    text-decoration:none;
    font-variant:small-caps;
    font-size:larger;
    padding:0 10px;
}
.menu ul li:hover ul{
    display: block;
}
.menu ul ul a:hover{
    background-color:orangered;
    color:white;
}
.vmenu{
    float: right;
    padding: 0px;
    margin:5px;
    list-style: none;
    border-radius: 3px;
    box-shadow: 0 0 2px gray;
 }
 .vmenu a{
     background: url(../img/1.png) no-repeat 0px center;
     display: block;
     border-bottom: 1px dotted orangered;
     color: orangered;
     font-variant: small-caps;
     font-size: larger;
     text-decoration: none;
     padding: 8px 5px 8px 30px;
 }
 .vmenu a:hover{
     background:url(../img/2.png)no-repeat 0px center ;
     border-bottom: 1px dotted white;
     background-color: orangered;
     color: white;
     font-weight: bold;
 }
footer{
    border-top: 5px double orangered;
    line-height: 50px;
    background-color: lightcyan;
    text-align: center;
    font-variant: small-caps;
    clear: both;
}
.company-info h1{
        font-size: 50px;
        color: #fff;
        font-weight: bolder;
        padding-bottom: 10px;
        text-shadow: 0 0 10px orangered;
        border-bottom: 2px orange solid;
}
.container{
    background-image: url(../img/fpt1.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: auto;

}