.z{color: red;}
.em1{color: brown;}
.em2{color:blue ;}
.em3{color:green;}
.sao{color: red;}
em{font-variant: small-caps;}
em{font-size:20px;}
em{word-spacing:2px;}
em{letter-spacing:1px;}
em{line-height:25px;}
h2{color:white;text-shadow:0 0 5px red;}
body{Text-align:center}