.menu>a{
        
    color:blue;
    text-decoration: none;
    font-variant: small-caps;
    font-size: 30px;
    
    text-align: center;


}

.menu>a:visited{
    color: green;
}
.menu>a:hover{
    color: red;
    text-decoration: underline;
}
